<div class="nav-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- note the ng-init and ng-click here: -->
        <button class="navbar-toggle" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="goHome()">
          <img id="logo" src="./static/imgs/logo.png"></a>
      </div>

      <div class="collapse navbar-collapse" uib-collapse="navCollapsed">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ng-click="goOffers()">{{'NAV.SPECIAL_OFFERS' | translate}}</a>
          </li>
          <li>
            <a ng-click="goServices()">{{'NAV.SERVICES' | translate}}</a>
          </li>
          <li>
            <a ng-click="goTeam()">{{'NAV.OUR_TEAM' | translate}}</a>
          </li>
          <li>
            <a ng-click="goAboutUs()">{{'NAV.ABOUT' | translate}}</a>
          </li>
          <li>
            <a ng-click="goContactUs()">{{'NAV.CONTACT_US' | translate}}</a>
          </li>
          <li>
            <a style="    margin-top: -2.6px;">
              <select id="select-nav">
                <option value="one">
                  <span style="color:black">Change Language</span>
                </option>
                <option value="one">
                  <span style="color:black">English</span>
                </option>
                <option value="one">
                  <span style="color:black">German</span>
                </option>

              </select>

            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
