<div class="nav-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="goHome()">
          <img id="logo" src="./static/imgs/logo.png"></a>
      </div>

      <div class="collapse navbar-collapse" uib-collapse="navCollapsed">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ng-click="goOffers()">{{'NAV.SPECIAL_OFFERS' | translate}}</a>
          </li>
          <li>
            <a ng-click="goServices()">{{'NAV.SERVICES' | translate}}</a>
          </li>
          <li>
            <a ng-click="goTeam()">{{'NAV.OUR_TEAM' | translate}}</a>
          </li>
          <li>
            <a ng-click="goAboutUs()">{{'NAV.ABOUT' | translate}}</a>
          </li>
          <li>
            <a ng-click="goContactUs()">{{'NAV.CONTACT_US' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>

    </nav>
  </div>
