<div class="container page-panel">
  <div class="col-lg-12 page-content">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">

        <div class="col-xs-2">
        </div>

        <div class="col-xs-8">
          <div class="center">
            <h3 class="panel-title center">{{"OFFERS.SPECIAL_OFFERS" | translate}}</h3>

          </div>
        </div>

        <div class="col-xs-2 ">
        </div>

      </div>
      <div class="panel-body">


        <div class="row">

            <div class="col-xs-4">

                <div class="thumbnail">

                    <img src="../static/imgs/flight.JPG" class="img-fluid about-img" >

                    <div class="caption">
                        <h4>{{"OFFERS.FLIGHT_OFFERS" | translate}}</h4>
                        <p>
                          {{"OFFERS.FLIGHT_OFFERS_PARA" | translate}}</p>

                    </div>
                </div>

            </div>

            <div class="col-xs-4">
                <div class="thumbnail">
                    <img  src="../static/imgs/facebook.png" class="img-fluid about-img" >
                    <div class="caption">
                        <h4>{{"OFFERS.LIKE_FACEBOOK" | translate}}</h4>
                        <p>{{"OFFERS.LIKE_FACEBOOK_PARA" | translate}}</p>
                    </div>
                </div>

            </div>

            <div class="col-xs-4">
                <div class="thumbnail">

                    <img src="../static/imgs/hotel.jpeg" class="img-fluid about-img" >
                    <div class="caption">
                        <h4>
                          {{"OFFERS.HOTEL" | translate}}</h4>
                        <p>{{"OFFERS.HOTEL_PARA" | translate}}</p>
                    </div>
                </div>

            </div>
        </div>



    </div>
  </div>
  </div>

</div>
