<!-- @mirna-shafie -->
<div class="container page-panel">
  <div class="col-lg-12 page-content">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">

        <div class="col-xs-2">
          <button class="btn btn-primary btn-lg pull-left" ng-click="goBack()">{{buttonTextBk}}</button>
        </div>

        <div class="col-xs-8">
          <div class="center">
            <h3 class="panel-title center">{{title}}</h3>

          </div>
        </div>

        <div class="col-xs-2 ">
          <button class="btn btn-primary btn-lg pull-right" ng-disabled="!form.number || !form.cvc" ng-click="goNext()">{{buttonTextNxt}}</button>
        </div>

      </div>
      <div class="panel-body">

        <div class="container-fluid">

          <div class="col-lg-6">

            <h3>We accept</h3>
            <div >
              <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
            </div>
            <br>
            <h3>Card information:</h3>

            <form class="form-horizontal">

              <div class="form-group">
                <div class="col-lg-12">
                  <div class="input-group">
                    <input class="form-control" placeholder="Valid Card Number" ng-model="form.number" type="tel"/>
                    <span class="input-group-addon">
                      <i class="fa fa-credit-card"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12">
                  <div class="input-group">
                    <input class="form-control" placeholder="CVC code" ng-model="form.cvc" type="tel">
                  </div>
                </div>
              </div>
            </form>

            <div class="row">
              <div class="col-sm-4" id="first">

                <b>
                  Expire Date:
                </b>

              </div>

              <div class="col-sm-8" id="second">

                <div class="btn-group " is-open="status2.isopen" uib-dropdown>
                  <button class="btn btn-primary" type="button" uib-dropdown-toggle>
                    {{monthsBtnText}}
                    <span class="caret"></span>
                  </button>
                  <ul aria-labelledby="single-button" role="menu" uib-dropdown-menu>
                    <li>
                      <a ng-click="changeMonth(month)" ng-repeat="month in months">{{month}}
                  </a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group " is-open="status3.isopen" uib-dropdown>
                  <button class="btn btn-success" type="button" uib-dropdown-toggle>
                    {{yearsBtnText}}
                    <span class="caret"></span>
                  </button>
                  <ul aria-labelledby="single-button" role="menu" uib-dropdown-menu>
                    <li>
                      <a ng-click="changeYear(year)" ng-repeat="year in years">{{year}}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4" id="third"></div>
            </div>

          </div>

          <div class="col-lg-6">

            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a >

                  Your booking total cost
                  <span class="badge pull-right">
                    €{{price}}</a>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>
    </div>
