
<div class="container page-panel">
    <div class="col-lg-12 page-content">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">

                <div class="col-xs-2"></div>

                <div class="col-xs-8">
                    <div class="center">
                        <h3 class="panel-title center">About AirBerlin</h3>

                    </div>
                </div>

                <div class="col-xs-2 "></div>

            </div>
            <div class="panel-body">

              

                <div class="row">

                    <div class="col-xs-4">

                        <div class="thumbnail">

                            <img src="../static/imgs/airberlin.jpg" class="img-fluid about-img" >

                            <div class="caption">
                                <h4>History</h4>
                                <p>
                                    The first airberlin plane took off on 28th April 1979. Experience the highlights and milestones in airberlin's history.</p>

                            </div>
                        </div>

                    </div>

                    <div class="col-xs-4">
                        <div class="thumbnail">
                            <img src="../static/imgs/portrait.jpg" class="img-fluid about-img" >
                            <div class="caption">
                                <h4>Our goal</h4>
                                <p>First Europe, and then the globe, will be linked by flight, and nations so knit together that they will grow to be next-door neighbors… . What railways have done for nations, airways will do for the world.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-4">
                        <div class="thumbnail">

                            <img src="../static/imgs/partners.png" class="img-fluid about-img" >
                            <div class="caption">
                                <h4>
                                    Alliance/partners</h4>
                                <p>airberlin guarantees a dense connection network and constant growth thanks to the co-operation with other airlines.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
