<!-- @abdelrhman-essam -->
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

      <div class="col-lg-2">
        <button ng-click="goBack()" class="btn btn-primary btn-lg pull-left">{{buttonTextBk}}</button>
      </div>

      <div class="col-lg-8">
        <div class="center">
          <h3 class="panel-title center">{{title}}</h3>

        </div>
      </div>

      <div class="col-lg-2 ">
        <button ng-click="goNext()" class="btn btn-primary btn-lg pull-right">{{buttonTextNxt}}</button>
      </div>

    </div>
    <div class="panel-body">

      <!-- Start from here -->

      <div class="col-md-6">
        <div class="jumbotron">
          <h1>Your booking is now confirmed !</h1>
          <p> </p>
          <h2>Your booking reference number (PNR):</h2>
        </div>
      </div>
      <div class="col-md-6" <div class="jumbotron">
        <p> </p>
        <h1>check seats</h1>
        <p> </p>
        <p>you can now have a final check of your seats on the flight . AirBerlin wishes you a safe flight
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Check</a></p>
      </div>
    </div>
    <div style="padding: 28px;">
      <button type="button" class="btn btn-primary btn-block">Print e-ticket</button>

      <button type="button" class="btn btn-primary btn-block">Print Itirerary</button>

      <button type="button" class="btn btn-primary btn-block">Print payment receipt</button>

    </div>




  </div>
</div>
</div>
