<div class="container page-panel">
    <div class="col-lg-12 page-content">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="col-xs-2">
                    <button ng-click="goBack()" class="btn btn-primary btn-lg pull-left">{{'NAV.BACK' | translate}}</button>
                </div>

                <div class="col-xs-8">
                    <div class="center">
                        <h3 class="panel-title center">{{'FLIGHT.TITLE' | translate}}</h3>

                    </div>
                </div>

                <div class="col-xs-2">
                    <button ng-click="goNext()" class="btn btn-primary btn-lg pull-right">{{'NAV.NEXT' | translate}}</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <h3>Outgoing Flight</h3>
                </div>

                </br>

                <table class="table table-bordered table-striped ">
                    <tbody class="text-center">
                        <tr>
                            <td class="pull-center">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <h2>{{flight.originAirport.iata}}</h2>
                                        <h5>{{flight.originAirport.name}}</h5>
                                        <h4>{{constructDate(flight.departureUTC) | date:'EEE, MMMM d'}}</h4>
                                        <h4>{{constructDate(flight.departureUTC) | date:'h:mm a'}}</h4>
                                    </div>
                                    ​
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <h5>{{flight.durationString}}</h5>
                                        <h5>{{'FLIGHT.FLIGHT' | translate}} {{flight.number}}</h5>
                                        <h5>{{flight.aircraft.model}}</h5>
                                    </div>
                                    ​
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <h2>{{flight.destinationAirport.iata}}</h2>
                                        <h5>{{flight.destinationAirport.name}}</h5>
                                        <h4>{{constructDate(flight.arrivalUTC) | date:'EEE, MMMM d'}}</h4>
                                        <h4>{{constructDate(flight.arrivalUTC) | date:'h:mm a'}}</h4>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <div class="row">
                                    <h4>{{'FLIGHT.NUMBER_OF_PASSENGERS' | translate}}</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>1 {{'FLIGHT.PASSENGER' | translate}}</h4>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <h4>{{'FLIGHT.FLYING_CALSS' | translate}}</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>{{flight.class}}</h4>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <h4>{{'FLIGHT.FLIGHT_FARE' | translate}}</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>&euro;{{flight.fare}}</h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-body" ng-show="returnFlight">
                <div class="text-center">
                    <h3>Re-entry Flight</h3>
                </div>

                </br>

                <table class="table table-bordered table-striped ">
                    <tbody class="text-center">
                        <tr>
                            <td class="pull-center">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <h3>{{returnFlight.refOriginAirport}}</h3>
                                        <h5>{{reRefOriginAirportName}}</h5>
                                        <h3>{{returnFlight.departureUTC}}</h3>
                                    </div>
                                    ​
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <h5>Operated by {{returnFlight.operatorAirline}}
                                        </h5>
                                        <h5>Flight {{returnFlight.number}}
                                        </h5>
                                        <h5>{{reAircraftModel}}</h5>
                                        <h5>{{returnFlight.duration}}</h5>
                                    </div>
                                    ​
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <h3>{{returnFlight.refDestinationAirport}}</h3>
                                        <h5>{{reRefDestinationAirportName}}</h5>
                                        <h3>{{returnFlight.arrivalUTC}}</h3>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <div class="row">
                                    <h4>Number of passengers</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>1 passenger</h4>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <h4>Flying class</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>{{rebusinessOrEcon}}</h4>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <h4>Flight fare</h4>
                            </td>

                            <td>
                                <br/>
                                <h4>&euro;{{refare}}</h4>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <h4>Flight facilities</h4>
                            </td>

                            <td>
                                <br/>
                                <li ng-repeat="facility in refacilitiesResult">
                                    <h4>{{facility}}</h4>
                                </li>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>