<!-- @abdelrahman-maged -->

<div class="col-lg-12">

  <div class="panel panel-default">

    <div class="panel-heading clearfix">

      <div class="btn-group pull-left">
        <button ng-click="goBack()" class="btn btn-primary btn-lg">{{buttonTextBk}}</button>
      </div>

      <h3 class="panel-title pull-left" style="padding-top: 10.5px;">{{ title}}</h3>

      <div class="btn-group pull-right">
        <button ng-click="goNext()" class="btn btn-primary btn-lg">{{buttonTextNxt}}</button>
      </div>
    </div>

    <div class="panel-body">

        <div class="container">

        <div class="jumbotron">

          <table class="table table-bordered table-striped table-hover">

            <tbody class="text-center">

              <tr ng-repeat="flight in flights">

                <td class="vert-align">

                  <div class="row">

                    <div class="col-md-4">
                      <h3>{{flight.departureUTC}} {{flight.refOriginAirport}}</h3>
                      <h5>{{flight.refOriginAirportName}}</h5>
                    </div>

                    <div class="col-md-4" ng-controller="flightsCtrl">

                      <h5>{{flight.duration}}</h5>

                      <button type="button" class="btn btn-link" ng-click="isCollapsed = !isCollapsed">More details</button>

                      <div uib-collapse="isCollapsed">
                        <h5>{{flight.refAircraftModel}}</h5>
                        <h5>Operated by {{flight.operatorAirline}}</h5>
                      </div>

                    </div>

                    <div class="col-md-4">
                      <h3>{{flight.arrivalUTC}} {{flight.refDestinationAirport}}</h3>
                      <h5>{{flight.refDestinationAirportName}}</h5>
                    </div>

                  </div>

                </td>

                <td>

                  <h4>Economy</h4>
                  <h4>&euro;{{flight.economyFare}}</h4>
                  <h6 class="text-success">{{flight.emptyEconomySeatsCount}} seats left</h6>
                  <button type="button" class="btn btn-lg btn-primary">Book</button>

                </td>

                <td>

                  <h4>Business</h4>
                  <h4>&euro;{{flight.businessFare}}</h4>
                  <h6 class="text-success">{{flight.emptyBusinessSeatsCount}} seats left</h6>
                  <button type="button" class="btn btn-lg btn-primary">Book</button>

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>
