<!-- @nabila-ahmed -->
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

      <div class="btn-group pull-left">
        <button ng-click="goBack()" class="btn btn-primary btn-lg">{{buttonTextBk}}</button>
      </div>

      <h3 class="panel-title pull-left " style="padding-top: 10.5px;">{{ title}}</h3>

      <div class="btn-group pull-right">
        <button ng-click="goNext()" class="btn btn-primary btn-lg">{{buttonTextNxt}}</button>
      </div>
    </div>
      <div class="panel-body">


        <div class="container">
          <div class="jumbotron">
            <table class="table table-bordered table-striped ">
              <tbody class="text-center">
                <tr>
                  <td class="pull-center">
                    <div class="row">
​
                      <div class="col-md-4">
                      <h3>{{flight.refOriginAirport}}</h3>
                      <h5>{{flight.refOriginAirportName}}</h5>
                      <h3>{{flight.departureUTC}}</h3>
                      </div>
​
                      <div class="col-md-3">
                         <h5>Operated by {{flight.operatorAirline}}</h5>
                         <h5>Flight {{flight.number}}</h5>
                         <h5>{{aircraft.model}}</h5>
                         <h5>{{flight.duration/60}}h {{flight.duration % 60 }}m</h5>
                      </div>
​
                      <div class="col-md-4" >
                        <h3>{{flight.refDestinationAirport}}</h3>
                        <h5>{{flight.refDestinationAirportName}}</h5>
                        <h3>{{flight.arrivalUTC}}</h3>
                      </div>
​
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class= "row horizontal-center" >
              <div class="col-md-8 pull-left" ng-repeat="facility in facilitiesResult" >
                  <li><h4>{{facility}}<h4></li>
              </div>

              <div class="col-md-4 pull-right">
                <h3>1 passenger</h3>
                </br>
                <h3>{{businessOrEcon}}</h3>
                <h3> &euro;{{fare}}</h3>
              </div>
            </div>
            </br>

          </div>
        </div>

    </div>
  </div>
</div>
