<!-- @mirna-shafie -->
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left" style="padding-top: 10.5px;">{{title}}</h3>
      <div class="btn-group pull-right">
        <button ng-click="goNext()" class="btn btn-primary btn-lg">{{buttonText}}</button>
      </div>
    </div>
    <div class="panel-body">

      <div class="container-fluid">
        <div class="well span">
          <div class="jumbotron">
            <div class="row">

              <div class="col-lg-6">

                <h1>Choose payment method:
                </h1>
                <div class="panel-heading display-table">
                  <div class="row display-tr">
                    <h3 class="panel-title display-td">
                      <b>We accept:
                      </b>
                    </h3>
                    <div class="display-td">
                      <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
                    </div>
                  </div>
                </div>

                <b>
                  Card information:
                  <br></b>

                <!-- <div class="col-xs-3 col-md-6 col-lg-12">
               <input class="form-control" type="text" placeholder="Card number">
             </div> -->

                <div class="row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="tel" class="form-control" placeholder="Valid Card Number"/>
                        <span class="input-group-addon">
                          <i class="fa fa-credit-card"></i>
                        </span>

                      </div>
                    </div>
                  </div>
                  <b>
                    *</b>
                </div>

                <div class="row">

                  <div class="col-lg-5 ">
                    <input class="form-control" type="tel" placeholder="CVC code">
                  </div>
                  <b>
                    *</b>
                </div>

                <div class="row">
                  <div id="first" class="col-lg-3">

                    <b>
                      Expire Date:
                    </b>

                  </div>

                  <div id="second" class="col-lg-2">

                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Month
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                          <a href="#">January</a>
                        </li>
                        <li>
                          <a href="#">February</a>
                        </li>
                        <li>
                          <a href="#">March</a>
                        </li>
                        <li>
                          <a href="#">April</a>
                        </li>
                        <li>
                          <a href="#">May</a>
                        </li>
                        <li>
                          <a href="#">June</a>
                        </li>
                        <li>
                          <a href="#">July</a>
                        </li>
                        <li>
                          <a href="#">August</a>
                        </li>
                        <li>
                          <a href="#">September</a>
                        </li>
                        <li>
                          <a href="#">October</a>
                        </li>
                        <li>
                          <a href="#">November</a>
                        </li>
                        <li>
                          <a href="#">December</a>
                        </li>
                      </ul>

                    </div>

                  </div>

                  <!-- <div class="col-lg-1">
        /
      </div> -->

                  <div id="third" class="col-lg-2">

                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Year
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                          <a href="#">2016</a>
                        </li>
                        <li>
                          <a href="#">2017</a>
                        </li>
                        <li>
                          <a href="#">2018</a>
                        </li>
                        <li>
                          <a href="#">2019</a>
                        </li>
                        <li>
                          <a href="#">2020</a>
                        </li>
                        <li>
                          <a href="#">2021</a>
                        </li>
                        <li>
                          <a href="#">2022</a>
                        </li>
                        <li>
                          <a href="#">2023</a>
                        </li>
                        <li>
                          <a href="#">2024</a>
                        </li>
                        <li>
                          <a href="#">2025</a>
                        </li>
                        <li>
                          <a href="#">2026</a>
                        </li>
                        <li>
                          <a href="#">2027</a>
                        </li>
                        <li>
                          <a href="#">2028</a>
                        </li>
                        <li>
                          <a href="#">2029</a>
                        </li>
                        <li>
                          <a href="#">2030</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <b>
                    *</b>
                </div>

              </div>

              <div class="col-lg-6">
                <!-- <p class="col-lg-4">Your booking costs $400 in total
      </p> -->

                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#">
                      <span class="badge pull-right">
                        <span class="glyphicon glyphicon-usd"></span>4200</span>
                      Your booking total cost</a>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
