<!-- @mirna-shafie -->
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

      <div class="col-xs-2">
        <button ng-click="goBack()" class="btn btn-primary btn-lg pull-left">{{buttonTextBk}}</button>
      </div>

      <div class="col-xs-8">
        <div class="center">
          <h3 class="panel-title center">{{title}}</h3>

        </div>
      </div>

      <div class="col-xs-2 ">
        <button ng-click="goNext()" class="btn btn-primary btn-lg pull-right">{{buttonTextNxt}}</button>
      </div>

    </div>
    <div class="panel-body">

      <div class="container-fluid">

        <div class="col-lg-6">

          <h3>We accept</h3>
          <div >
            <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
          </div>
          <br>
          <h3>Card information:</h3>


          <form class="form-horizontal">

            <div class="form-group">
              <div class="col-lg-12">
                <div class="input-group">
                  <input type="tel" class="form-control" placeholder="Valid Card Number"/>
                  <span class="input-group-addon">
                    <i class="fa fa-credit-card"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <div class="input-group">
                  <input class="form-control" type="tel" placeholder="CVC code">
                </div>
              </div>
            </div>
          </form>






          <div class="row">
            <div id="first" class="col-lg-3">

              <b>
                Expire Date:
              </b>

            </div>

            <div id="second" class="col-lg-2">

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Month
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <a href="#">January</a>
                  </li>
                  <li>
                    <a href="#">February</a>
                  </li>
                  <li>
                    <a href="#">March</a>
                  </li>
                  <li>
                    <a href="#">April</a>
                  </li>
                  <li>
                    <a href="#">May</a>
                  </li>
                  <li>
                    <a href="#">June</a>
                  </li>
                  <li>
                    <a href="#">July</a>
                  </li>
                  <li>
                    <a href="#">August</a>
                  </li>
                  <li>
                    <a href="#">September</a>
                  </li>
                  <li>
                    <a href="#">October</a>
                  </li>
                  <li>
                    <a href="#">November</a>
                  </li>
                  <li>
                    <a href="#">December</a>
                  </li>
                </ul>

              </div>

            </div>

            <!-- <div class="col-lg-1">
        /
      </div> -->

            <div id="third" class="col-lg-2">

              <div class="btn-group " uib-dropdown is-open="status3.isopen">
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                  {{yearsBtnText}}
                  <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li>
                    <a ng-repeat="year in years" ng-click="changeYear(year)">{{year}}</a>
                  </li>
                </ul>
              </div>
              <!-- <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Year
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li>
                    <a href="#">2016</a>
                  </li>
                  <li>
                    <a href="#">2017</a>
                  </li>
                  <li>
                    <a href="#">2018</a>
                  </li>
                  <li>
                    <a href="#">2019</a>
                  </li>
                  <li>
                    <a href="#">2020</a>
                  </li>
                  <li>
                    <a href="#">2021</a>
                  </li>
                  <li>
                    <a href="#">2022</a>
                  </li>
                  <li>
                    <a href="#">2023</a>
                  </li>
                  <li>
                    <a href="#">2024</a>
                  </li>
                  <li>
                    <a href="#">2025</a>
                  </li>
                  <li>
                    <a href="#">2026</a>
                  </li>
                  <li>
                    <a href="#">2027</a>
                  </li>
                  <li>
                    <a href="#">2028</a>
                  </li>
                  <li>
                    <a href="#">2029</a>
                  </li>
                  <li>
                    <a href="#">2030</a>
                  </li>
                </ul>
              </div>

            </div> -->
            <b>
              *</b>
          </div>

        </div>

        <div class="col-lg-6">
          <!-- <p class="col-lg-4">Your booking costs $400 in total
      </p> -->

          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                <span class="badge pull-right">
                  <span class="glyphicon glyphicon-usd"></span>4200</span>
                Your booking total cost</a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
