/* Add your own CSS if you like */

.flights h1 {
  font-size: 20px !important;
}
.flights h4 {
  color: white;
}
.flights p {
  font-size: 17px !important;
}
.flights .bar-footer {
  height: 80px;
  display: block;
}
/* Empty. Add your own CSS if you like */

  }
  .wrapper {
    text-align: center;
}
.home-container {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     height: 100%;
}
.home-container > .row {
     -webkit-flex: 1;
}
.header {
     -webkit-flex: 2 !important;
     -webkit-align-items: center;
     background-image: url(/img/head.png);
      background-size: cover;
      background-position: center center;
        background-repeat: no-repeat;

}

.main-row {
     -webkit-align-items: center;
}


    .red{

    background-image: url(/img/back_main.png);
     background-size: cover;
     background-position: center center;
       background-repeat: no-repeat;


}
