<ion-view view-title="About Us">
  <ion-content class="padding">
    <div class="list card">
       <div class="item item-avatar">
         <h2>History</h2>
       </div>
       <div class="item item-body">
         <img class="full-image" src="img/airberlin.jpg">
         <p>
     The first airberlin plane took off on 28th April 1979. Experience the highlights and milestones in airberlin's history.
         </p>
       </div>
     </div>
     <div class="list card">
     <div class="item item-avatar">
     <h2>Our goal</h2>
     </div>
     <div class="item item-body">
     <img class="full-image" src="img/portrait.jpg">
     <p>
     First Europe, and then the globe, will be linked by flight, and nations so knit together that they will grow to be next-door neighbors… . What railways have done for nations, airways will do for the world
     </p>
     </div>
     </div>
     <div class="list card">
     <div class="item item-avatar">
     <h2>Alliance/partners
   </h2>
     </div>
     <div class="item item-body">
     <img class="full-image" src="img/partners.png">
     <p>
       Airberlin guarantees a dense connection network and constant growth thanks to the co-operation with other airlines.
     </div>
     </div>
  </ion-content>
</ion-view>
