<ion-view view-title="Confirmation">
  <ion-content >

<div class="card">
    <ion-list>

  <div class="item item-text-wrap">
    <label class="item "><i class="icon ion-person"> </i>Name:</label>
       <label class="item "><i class="icon ion-ios-telephone"> </i>Phone:</label>
       <label class="item "><i class="icon ion-email"> </i>E-mail</label>

     </ion-list>
  </div>
</div>
<div class="card">
  <ion-list>
    <div class="item item-text-wrap">
  <label class="item "><i class="icon ion-star"> </i>Flight NO:</label>
  <label class="item "><i class="icon ion-ios-time"> </i>Aparteure:</label>
  <label class="item "><i class="icon ion-ios-time-outline"> </i>Departure:</label>
  </ion-list>
</ion-list>
</div>
</div>
<button class="button button-block button-balanced">
  Done
</button>
  </ion-content>
</ion-view>
