<ion-view view-title="Booked Flight(s)">
  <ion-content class="padding">
    <a href="#/tab/passenger-details" class="button button-block button-positive">
      Passenger's info
    </a>
    <div class="text-center">
      <div class="row">
        <div class="card" style="width:100%">
          <div class="item item-divider">
            <h3 style="font-size:20px"><i class="icon ion-android-plane"></i> Exit Flight</h3>


            <h4 style="font-size:15px">Flight {{outgoingFlight.number}}</h4>

            <h4 style="font-size:15px">{{outgoingFlight.duration}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      ​
      <div class="card" style="width:100%">
        <div class="item item-divider" style="font-size:18px">Origin</div>
        <div class="item item-text-wrap">
          <h3>{{outgoingFlight.refOriginAirport}}</h3>
          <h5>{{outRefOriginAirportName}}</h5>
          <h3>{{outgoingFlight.departureUTC}}</h3>
        </div>

        <div class="item item-divider" style="font-size:18px">Destination</div>
        <div class="item item-text-wrap">
          <h3>{{outgoingFlight.refDestinationAirport}}</h3>
          <h5>{{outRefDestinationAirportName}}</h5>
          <h3>{{outgoingFlight.arrivalUTC}}</h3>
        </div>
        ​
      </div>
    </div>


    <div class="row">
      <div class="card" style="width:100%">
        <div class="item item-divider"> <i class="icon ion-person-stalker"> Number of passengers</i></div>

        <div class="item item-text-wrap">1 passenger</div>



        <div class="item item-divider"><i class="icon ion-briefcase">  Flying class</i></div>

        <div class="item item-text-wrap">{{outbusinessOrEcon}}</div>



        <div class="item item-divider"><i class="icon ion-cash">  Flight fare</i></div>


        <div class="item item-text-wrap">&euro;{{outfare}}</div>


        <div class="item item-divider"> <i class="icon ion-plus-circled">  Flight facilities</i></div>

        <ion-list>

          <div class="item item-text-wrap" ng-repeat="facility in outfacilitiesResult">{{facility}}</div>

      </iom-list>
      </div>
    </div>

    <div class="panel-body" ng-show="returnFlight">
      <div class="text-center">
        <div class="row">
          <div class="card" style="width:100%">
            <div class="item item-divider">
              <h3 style="font-size:20px"><i class="icon ion-android-plane"></i>  Re-entry Flight</h3>


              <h4 style="font-size:15px">Flight {{returnFlight.number}}</h4>

              <h4 style="font-size:15px">{{returnFlight.duration}}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        ​
        <div class="card" style="width:100%">
          <div class="item item-divider" style="font-size:18px">Origin</div>
          <div class="item item-text-wrap">
            <h3>{{returnFlight.refOriginAirport}}</h3>
            <h5>{{reRefOriginAirportName}}</h5>
            <h3>{{returnFlight.departureUTC}}</h3>
          </div>

          <div class="item item-divider" style="font-size:18px">Destination</div>
          <div class="item item-text-wrap">
            <h3>{{returnFlight.refDestinationAirport}}</h3>
            <h5>{{reRefDestinationAirportName}}</h5>
            <h3>{{returnFlight.arrivalUTC}}</h3>
          </div>
          ​
        </div>
      </div>


      <div class="row">
        <div class="card" style="width:100%">
          <div class="item item-divider"> <i class="icon ion-person-stalker"> Number of passengers</i></div>

          <div class="item item-text-wrap">1 passenger</div>



          <div class="item item-divider"><i class="icon ion-briefcase">  Flying class</i></div>

          <div class="item item-text-wrap">{{rebusinessOrEcon}}</div>



          <div class="item item-divider"><i class="icon ion-cash">  Flight fare</i></div>


          <div class="item item-text-wrap">&euro; {{refare}}</div>


          <div class="item item-divider"> <i class="icon ion-plus-circled">  Flight facilities</i></div>
          <ion-list>

            <div class="item item-text-wrap" ng-repeat="facility in refacilitiesResult">{{facility}}</div>

        </iom-list>
      </div>
    </div>


  </ion-content>
</ion-view>
