<ion-view view-title="Other">
  <ion-content class="padding-top">

    <div class="list">

      <div class="item item-divider">
        About
      </div>
      <a class="item" href="#/tab/about">
        About Us
      </a>
      <a class="item" href="#/tab/contact-us">
        Contact Us
      </a>
      <a class="item" href="#/tab/team">
        About Team
      </a>
      <div class="item item-divider">
        Services &amp; Offers
      </div>

      <a class="item" href="#/tab/offers">
        Offers
      </a>
      <a class="item" href="#/tab/services">
        Services
      </a>
    </div>
  </ion-content >

</ion-view>
