<ion-view view-title="Passenger details">
  <ion-content class="padding">

    <div class="list">
         <label class="item item-input item-select">
       <div class="input-label" ng-model = "title">
         Title
       </div>
       <select>
         <option>Mr</option>
         <option selected>Mrs</option>
         <option>Ms</option>
         <option>Dr</option>
       </select>
     </label>

     <label class="item item-input item-floating-label">
           <span class="input-label">First Name</span>
           <input type="text" placeholder="First Name" ng-model = "firstName">
         </label>
         <label class="item item-input item-floating-label">
           <span class="input-label">Middle Name</span>
           <input type="text" placeholder="Middle Name" ng-model = "middleName">
         </label>
         <label class="item item-input item-floating-label">
           <span class="input-label">Last Name</span>
           <input type="text" placeholder="Last Name" ng-model = "lastName">
         </label>

         <label class="item item-input item-floating-label">
               <span class="input-label">Phone Number</span>
               <input type="text" placeholder="Phone Number" ng-model = "phoneNumber">
             </label>
             <label class="item item-input item-floating-label">
               <span class="input-label">Passport Number</span>
               <input type="text" placeholder="Passport Number" ng-model = "passportNumber">
             </label>

             <label class="item item-input item-select">
                     <div class="input-label" ng-model = "nationallity">
                       Place Of Birth
                     </div>
                     <select>
                       <option>Egypt</option>
                       <option selected>USA</option>
                       <option>UAE</option>
                     </select>
                   </label>

                 <label class="item item-input item-floating-label">
                   <span class="input-label">Email</span>
                   <input type="text" placeholder="Email" ng-model = "email1">
                 </label>
                 <label class="item item-input item-floating-label">
                   <span class="input-label">Repeat Email</span>
                   <input type="text" placeholder="Repeat Email" ng-model = "emailver">
                 </label>
                 <ion-checkbox ng-model="check">I verify that the information given are correct</ion-checkbox>

               </div>
    <a href="#/tab/seating/outgoing" class="button button-block button-positive">
      Seating
    </a>
  </ion-content>
</ion-view>
