<ion-view view-title="Passenger details">
  <ion-content class="padding">

    <div class="list">
         <label class="item item-input item-select">
       <div class="input-label" ng-model = "title">
         Title
       </div>
       <select>
         <option>Mr</option>
         <option selected>Mrs</option>
         <option>Ms</option>
         <option>Dr</option>
       </select>
     </label>





    <a href="#/tab/seating/outgoing" class="button button-block button-positive">
      Seating
    </a>
  </ion-content>
</ion-view>
