<ion-view view-title="Choose a payment method">
  <ion-content class="padding">
    <div class="card">
      <ion-list>

        <div class="item item-text-wrap">
          <label class="item ">
            <i class="icon ion-person"></i>Price</label>

        </ion-list>
      </div>
    </div>

    <ion-list>

      <div class="list">
        <label class="item ">
          <i class="icon ion-person"></i>Price ${{price}}</label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Valid Card number</span>
          <input type="text" ng-model="form.number" placeholder="Valid Card number">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">CVC code</span>
          <input type="text" ng-model="form.cvc" placeholder="CVC code">
        </label>
        <!-- <label class="item item-input item-select"> -->
        <label class="item item-input">
          <span class="input-label">Expire date:
          </span>
          <input type="month" ng-model="$parent.date">
        </label>

      </div>

    </ion-list>

  </ion-content>

  <ion-footer-bar>
    <a href="" ng-click="goNext()" class="button button-block button-positive">
      <h4>Next</h4>
    </a>
  </ion-footer-bar>

</ion-view>
