<ion-view view-title="Choose a seat">
  <ion-content class="padding">

    <div class="row text-center">
      <h2>{{isEconomyText}} Seatmap</h2>
      <h4 ng-show="seat">You selected seat {{seat}}</h4>
    </div>
      <div class="col">
              <any ng-repeat="y in bob">
                  <div class="row">
                      <div class="col-xs-8 ">
                          <div class="pull-left">
                              <any ng-repeat="x in array1">
                                  <button ng-init="y = y +1" type="button" ng-disabled="!isEmpty(x + '' + y)" ng-click="selectSeat(x+''+y)" class="btn btn-default btn-md seat {{searchColor(x+ '' + y)}}">{{x +''+ y}}</button>
                              </any>
                          </div>
                      </div>
                      <div class="col-xs-4 text-center">
                          <div >
                              <any ng-repeat="x in array2">
                                  <button ng-init="y = y +1" type="button" ng-disabled="!isEmpty(x + '' + y)" ng-click="selectSeat(x+''+y)" class="btn btn-default btn-md seat {{searchColor(x+ '' + y)}}">{{x +''+ y}}</button>
                              </any>
                          </div>
                      </div>
                      <div class="col-xs-4">

                          <div class="pull-right" >

                              <any ng-repeat="x in array3">
                                  <button ng-init="y = y +1" type="button" ng-disabled="!isEmpty(x + '' + y)" ng-click="selectSeat(x+''+y)" class="btn btn-default btn-md seat {{searchColor(x+ '' + y)}}">{{x +''+ y}}</button>
                              </any>
                          </div>
                      </div>
                  </any>
              </div>
      </div>

  </ion-content>

  <ion-footer-bar>
    <a href="#/tab/payment" class="button button-block button-positive"><h4>Payment</h4></a>
  </ion-footer-bar>

</ion-view>
