<ion-view view-title="Services">
  <ion-content class="padding">
    <div class="list card">
     <div class="item item-avatar">
       <h2>Inflight Services</h2>
     </div>
     <div class="item item-body">
       <img class="full-image" src="img/inflightservice.jpg">
       <p>
     Airberlin presents the economy and business class.
       </p>
     </div>
   </div>
   <div class="list card">
   <div class="item item-avatar">
   <h2>Gourmet Meals</h2>
   </div>
   <div class="item item-body">
   <img class="full-image" src="img/gourmet meals.jpg">
   <p>
   Airberlin is the right airline for connoisseurs: treat yourself to one of the delicious gourmet meals from "Sansibar" on board.
   </p>
   </div>
   </div>
  </ion-content>
</ion-view>
