<ion-view view-title="Book Now" >
  <ion-pane >
       <ion-content scroll="false" class="red" >

 <section class = "home-container">

 <div class = "row header">



           </div>


 <div class = "row main-row">

 <div class = "col text-center">
   <div class="card">
     <div class="list list-inset">
       <label class="item item-input">
         <input type="text" placeholder="Flying From">
       </label>
       <label class="item item-input">
         <input type="date" placeholder="Departure Date">
       </label>
       <label class="item item-input">
         <input type="text" placeholder="Flying To">
       </label>
       <label class="item item-input">
         <input type="date" placeholder="Re-entry Date">
       </label>
     </div>
</div>
<a href="#/tab/flights" class="button button-block button-positive"><h4>Search for flights</h4></a>
             </div>

           </div>

         </section>

       </ion-content>
     </ion-pane>

   </body>
</ion-view>
