<!--
Create tabs with an icon and label, using the tabs-assertive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Book" icon-off="ion-android-plane" icon-on="ion-android-plane" href="#/tab/dash">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="More" icon-off="ion-ios-information" icon-on="ion-ios-information" href="#/tab/other">
    <ion-nav-view name="tab-other"></ion-nav-view>
  </ion-tab>


</ion-tabs>
