<ion-view view-title="404NotFound Team">
  <ion-content >
    <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-divider">
            <h4>Ahmed Magdy</h4>
          </div>

          <div class="item item-image">
            <img src="/img/magdy.jpg">
          </div>
        </div>
        <div class="list card">
          <div class="item item-divider">
            <h4>Abdelrhman Maged</h4>
          </div>

          <div class="item item-image">
            <img src="/img/maged.JPG">
          </div>

        </div>

        <div class="list card">
          <div class="item item-divider">
            <h4>Nabila Hashad</h4>
          </div>

          <div class="item item-image">
            <img src="/img/nabila.jpg">
          </div>

        </div>
        <div class="list card">
          <div class="item item-divider">
            <h4>Ahmed Esmat</h4>
          </div>

          <div class="item item-image">
            <img src="/img/esmat.jpg"></img>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="list card">
          <div class="item item-divider">
            <h4>Yasmeen Wafa</h4>
          </div>

          <div class="item item-image">
            <img src="/img/yasmeen.jpg">
          </div>

        </div>
        <div class="list card">
          <div class="item item-divider">
            <h4>Abdelrhman Essam</h4>
          </div>

          <div class="item item-image">
            <img src="/img/essam.jpg">
          </div>

        </div>
        <div class="list card">
          <div class="item item-divider">
            <h4>Merna Shafie</h4>
          </div>

          <div class="item item-image">
            <img src="/img/merna.jpg">
          </div>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
