// Ionic variables to override
$calm:           #11c1f3 !default;
$balanced:       #9FBB58 !default;

// Vardyger variables
$vardygerOrange: #ff9900 !default;
$positive:                        #9FBB58 !default;
